/* Colors are by no means final, just experimental */
:root{
    --blue: #2077B4;
    --black: #2F0601;
    --white: #FEFEFE;
    --lightblue: #788AA3;
    --eggplant: #553A41;
    --yellow: #FFB100;
    --lightgray: rgb(242, 242, 242);
    --gray: #CCCCCC;
    --green: #85C19E;
    --darkgreen: #6B8F71;
    --purple: #380036;
}

body{
    margin: 0;
    padding: 0;
}

