 #SortingInfo-container{
    /* background: var(--gray); */
    background: lightgray;
    width: 20%; 
    display: flex;
}
#SortingInfo-ul{
    margin: 25% 0%;
    padding: 0;
    width: 67%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
#SortingInfo-ul li{
    margin: 0px;
    width: 100%;
    display: block;
    padding: 15px 0;
    border-top: 2px solid rgb(94, 94, 94);
    border-bottom: 2px solid rgb(94, 94, 94)    ;
}
#SortingInfo-ul li button{
    border: none;
    font-size: 28px;
    background: rgba(0,0,0,0);
}

button#reveal-button{
    /* background: #85C19E; */
    width: 33%;
}
